body{
  background: white;
}

/*Beginning of navbar*/
nav{
  background-color: #000080;
  position: fixed;
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:5pc;
  overflow: hidden;
  top:0;
  left:0;
  right:0;
}
.navbar{
  display: flex;
  list-style: none;

}
#nav-links{
  padding: 100px 20px;
  overflow: hidden;
}
#nav-links:hover{
  background-color:white;
  overflow: hidden;
}
#nav-links > a{
  font-family: "Abril-Fatface",Sans-serif;
  color: white;
  text-decoration: none;
}

#nav-links:hover > a{
  overflow: hidden;
  color: #000080;
}
/*End of navbar*/
/*Welcome Section*/
#welcome-section{
  text-align: center;
  width: 100%
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}

#welcome-section > h1{
  padding-top: 30vh;
  font-size: 2.5pc;
  color:#000080;
}
#welcome-section >h2{
  color:#000080;
}
/*End of Welcome Section*/
/*Projects Section*/
#projects{
  justify-content: center;
  display: flex;
  flex-basis 50% 50%;
  width:100%;
  justify-content: center;
}
.project-tile{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.project-tile > h4{

  justify-content: center;
}

#description-image{
  width:50%;
  object-fit: contain;
}
#description{
  text-align: center;
  width:50%;
  font-family: sans-serif;

}
@media only screen and (max-width: 600px) {
  .project-tile {
    flex-direction: column;
    align-items: center;
    border: 1px solid
  }
}
/*end Of projects Section*/
