body{
  background: black;
}
nav{
  background-color: blue;
  position: fixed;
  top:0;
  left:0;
  right:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:5pc;
}
.navbar{
  display: flex;
  list-style: none;

}
#nav-links{
  padding: 100px 20px;
}
.navbar a{
  color: black;
  text-decoration: none;

}
.navbar a:hover{
  font-size: 1.35pc;
}
#welcome-section{
  padding-top: 50px;
  color:white;
}
